MQTT_BROKER_HOST=emqx
MQTT_BROKER_PORT=1883
ONLINE_TIMEOUT_SECONDS=60
INFLUX_ENABLED=false
INFLUX_URL=http://influxdb:8086
INFLUX_ORG=warehouse
INFLUX_BUCKET=warehouse
INFLUX_TOKEN_FILE=/run/secrets/influx-admin-token
FIREBASE_CREDENTIALS=/run/secrets/firebase-service-account.json
FCM_TOPIC=warehouse_alerts
