MQTT_BROKER_HOST=emqx
MQTT_BROKER_PORT=1883
ONLINE_TIMEOUT_SECONDS=60
API_USERNAME=admin
API_PASSWORD=
API_ACCESS_TOKEN=
INFLUX_ENABLED=false
INFLUX_URL=http://influxdb:8181
INFLUX_BUCKET=sensor_data
INFLUX_TOKEN=
